* {
    box-sizing: border-box;
    border: none;
  }
  body, html{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    
  }
  
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Oswald:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 100px;
text-align: center;
vertical-align: middle;
font-size:20px;
top:30px
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:white;
 font-family: arial;
font-size: 17px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}



.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:187px;
  font-family: 'Titillium Web', sans-serif;
  height: 100px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: white;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }

  
  
  html {
    font-family: sans-serif;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: repeat(100vh);
        scroll-snap-points-y: repeat(100vh);
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }

  #container{
    margin: auto;
    /*border: 5px solid white;*/
    left: 25vw;
    top: 25%;
    bottom: 25%;
    height: 50vw;
    width: 50vw;
   
    
    position: absolute;

    
   
    
  }
  #square1{
    border: 3px solid white;
    width: 42vw;
    height: 42vw;
    position:absolute;
    top: 2vw;
    left: 1vw;
    background-color:black;
 
  }
  #square2{
    
    border-top-width: 0px;
    border-left-width: 0px;
    
    position: absolute;
    width: 42vw;
    height: 42vw;
    right: 1vw;
    bottom: 2vw;
    background-color: grey;

 
  }
  
  #section1{
    
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    
    position: relative;
    background-color:white;

  }
  #section2{

    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    background-color:black;
  }
  #section3{
    border-bottom: 1px solid white;
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    background-color: black;
  }
  #section4{
    
    padding: 1rem;
    height: 25vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    background-color: black;
  }

  #about{
    background-color: white;
    position: absolute;
    top: 12.5%;
    left: 15%;
    width: 75%;
    height: 75%;
  }

  #header{
    border-bottom: 1px solid black;
    height: 10%;
    font-size: 7vh;
  }
  #bodyText{
    border-right: 1px solid black;
    height: 90%;
    width: 75%;
    
  }
 
  #homepagehome{
    position: absolute;
    top: 50%;
    transform: translateY(-120%);
    text-align: center;
    color:white;
    width: 100%;
    left: 0;
    font-size: calc(6.5vw + 2vh);
    font-family: 'IBM Plex Sans';
  }


  
  
  a{
    text-decoration:  none;
  }
  a:visited{
    color: grey;
  }